@import "ui-variables";
@import "ui-mixins";

.plugininstaller {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;

    width: 100%;
    top: 0;
    left: 0;

}

.plugininstaller__close {
    cursor: pointer;
    width: auto;
    align-self: flex-start;

    margin-bottom: @padding-base-vertical;
}
