@import "ui-variables";
@import "ui-mixins";


.pluginsearch {
    width: 100%;
    margin-bottom: @padding-base-vertical;
}

.pluginsearch__input {
    padding: @padding-base-vertical @padding-base-horizontal;
    width: 100%;
}
